Add your information below and submit the file via canvas (till the end of the day) to claim points for the participation point.

**Name**:Parand Mohri

**Group number**: Bootcamp2 2

**Collaborators**: Leon Debnath, Konstantin Sandfort

## Bootcamp B2: Pandas Example

In [31]:
import pandas as pd
hit_albums = pd.read_csv("hit_albums.csv")
hit_albums.head()

,Artist,Album,Released,Genre,Certified sales (millions),Claimed sales (millions)
0,Michael Jackson,Thriller,1982,"Pop, rock, R&B",45.4,65.0
1,AC/DC,Back in Black,1980,Hard rock,25.9,50.0
2,Pink Floyd,The Dark Side of the Moon,1973,Progressive rock,22.7,45.0
3,Whitney Houston / Various artists,The Bodyguard,1992,"Soundtrack/R&B, soul, pop",27.4,44.0
4,Meat Loaf,Bat Out of Hell,1977,"Hard rock, progressive rock",20.6,43.0

- Calculate the mean certified sales for all albums.

In [9]:
hit_albums['Certified sales (millions)'].mean()

22.40909090909091

- Create a new dataframe that only contains albums with more than 20 million certified sales.

In [14]:
lot_sales = hit_albums[(hit_albums['Certified sales (millions)'] > 20)]

- Create a new dataframe based on the `hit_albums` dataset that only contains the artists that have at least two albums in the list.

In [1]:
df2 = hit_albums.groupby("Artist")
df3 = df2.filter(lambda x: x["Artist"].count() >=2)
df2

NameError: name 'hit_albums' is not defined

- Create a new dataframe that contains the aggregates sum of all certified sales for each year.

In [37]:
sum_sales =  hit_albums.groupby('Released').sum()
sum_sales

          Certified sales (millions)  Claimed sales (millions)
Released
1967                            13.1                      32.0
1969                            14.4                      30.0
1970                            25.0                       0.0
1971                            54.0                      37.0
1973                            22.7                      45.0
1976                            73.7                      74.0
1977                            67.5                     123.0
1978                            28.0                       0.0
1979                            57.6                      30.0
1980                            25.9                      50.0
1981                            25.0                       0.0
1982                            45.4                      65.0
1983                            62.0                       0.0
1984                           109.6                      30.0
1985                            67.7                      30.0
1986                            53.0                       0.0
1987                           144.5                      96.0
1988                            20.0                       0.0
1990                            19.4                      30.0
1991                            54.2                      92.0
1992                            76.4                      44.0
1993                            42.0                      32.0
1994                            64.0                       0.0
1995                           111.8                      33.0
1996                            48.2                      32.0
1997                            91.0                     100.0
1999                            72.5                      30.0
2000                            89.6                      31.0
2001                            20.0                       0.0
2002                            65.0                       0.0
2004                            20.0                       0.0
2011                            22.3                      30.0
2015                            20.0                       0.0